@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Frijole&display=swap");
/*GENERAL*/
* {
  font-family: "Coda", cursive;
  font-weight: 200;
  color: #FFFFFF;
  outline: none;
  transition: outline 0.2s;
}
*:focus-visible {
  outline: 3px solid #ffc107;
}

.contacto, .inicioSesion {
  height: 80vh;
}

li a {
  text-decoration: none;
}
li a i {
  transform: scale(100%);
  transition: all 0.2s;
}
li:hover i {
  transform: scale(115%);
}

/*HEADER*/
header {
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0));
}

.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li .activa {
  color: #ffc107;
}
.navbar-nav li a {
  color: #FFFFFF;
  transition: color 0.2s;
}
.navbar-nav li a:hover {
  color: #ffc107;
}

/*CABECERA*/
.bodyLinks {
  height: 100vh;
}
.bodyLinks .img_bodyLinks {
  position: absolute;
  top: 0px;
  z-index: -100;
}
.bodyLinks .img_bodyLinks img {
  width: 100vw;
}
.bodyLinks h2 {
  padding: 10vw 0;
}
.bodyLinks .cabecera {
  position: relative;
  text-align: center;
}

/*INDEX*/
.bodyInicio {
  background-image: url("../img/wallpaper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
.bodyInicio main {
  height: 85vh;
}
.bodyInicio main .seccion1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  justify-content: space-between;
}
.bodyInicio main .seccion1 h3 {
  padding-bottom: 3rem;
}

.espaciado {
  display: block;
  letter-spacing: 20px;
}

.form-control, .form-select {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  outline: none;
  transition: all 0.2s;
}
.form-control:focus, .form-select:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  outline: none;
  transition: all 0.2s;
  outline: 3px solid #ffc107;
}
.form-control::placeholder, .form-select::placeholder {
  color: #FFFFFF;
}

.vista_mobile {
  display: none;
}

.menu_sedes {
  background-color: #000000;
  position: sticky;
  top: 0;
}
.menu_sedes h3, .menu_sedes p {
  text-align: center;
  color: #ffc107;
}
.menu_sedes .vista_desktop {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.menu_sedes .vista_desktop li a {
  color: #FFFFFF;
}

/*STAFF*/
.staff_container {
  overflow: hidden;
  margin: 1.5rem auto;
  width: 300px;
  height: 500px;
}
.staff_container .img_container {
  position: absolute;
}
.staff_container .img_container img {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  width: 300px;
  aspect-ratio: 0.6;
  object-fit: cover;
}
.staff_container .tarjetaInterna {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  padding: 0.7rem;
  margin: 1.5rem;
  width: 250px;
  position: relative;
  transform: translateY(390px);
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.staff_container:hover .tarjetaInterna {
  transform: translateY(130px);
}

/*SEDES*/
.bg_img {
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  background-image: url("../img/gimnasios.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3rem auto;
}

.sede {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.sede p {
  margin: 0;
}

iframe {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  margin: 0;
  padding: 0;
}

.form_inicioSesion {
  margin: 0 auto;
  width: 50vw;
}

footer {
  padding-top: 20px;
}
footer p {
  padding-left: 4rem;
}

/*FUENTES Y TAMAÑOS*/
h1 {
  font-size: calc(4rem + 2.2vw);
}

h2 {
  font-size: calc(1.325rem + 2.5vw);
}

h1, h2, h3, button, a {
  font-family: "Frijole", cursive;
  font-weight: 200;
}
h1 span, h2 span, h3 span, button span, a span {
  font-family: "Frijole", cursive;
  font-weight: 200;
}

@media (max-width: 767px) {
  /*GENERAL*/
  .index, .sedeClases {
    height: 85vh;
  }
  .contacto {
    height: 80vh;
    display: flex;
    align-items: center;
    transform: scale(150%);
  }
  .bodyInicio, .bodyLinks, .bg_img {
    background-image: none;
  }
  .img_bodyLinks {
    display: none;
  }
  /*HEADER*/
  .navbar-nav li {
    margin: 1rem;
  }
  .navbar-nav li a {
    font-size: 20px;
  }
  /*INDEX*/
  .bodyInicio main {
    display: flex;
  }
  .bodyInicio main .seccion1 {
    height: auto;
    align-self: center;
  }
  .bodyInicio main .seccion1 h1 {
    display: none;
  }
  .bodyInicio main .seccion1 h3 {
    padding-bottom: 0px;
  }
  /*STAFF*/
  .staff_container .tarjetaInterna {
    transform: translateY(390px);
  }
  .staff_container:hover .tarjetaInterna {
    transform: translateY(390px);
  }
  .staff_container:active .tarjetaInterna {
    transform: translateY(130px);
  }
  /*SEDES*/
  .bg_img {
    border: none;
  }
  /*CLASES*/
  .clases {
    display: none;
  }
  .menu_sedes h3 {
    display: none;
  }
  .menu_sedes p {
    font-size: 25px;
  }
  .menu_sedes .vista_mobile {
    display: flex;
    padding: 0px;
    list-style: none;
    height: 70vh;
    flex-direction: column;
    text-align: center;
  }
  .menu_sedes .vista_mobile li {
    padding: 3rem 0px;
  }
  .menu_sedes .vista_mobile li a {
    font-size: 30px;
    color: #FFFFFF;
  }
  .menu_sedes .vista_desktop {
    display: none;
  }
  /*INICIO SESION*/
  .form_inicioSesion {
    width: 75vw;
  }
}