@import 'variables';
@import 'mixins';

/*CABECERA*/

.bodyClases {
  .main {
    .img_bodyLinks {
      position:absolute;
      top: 0px;
      z-index: -10;
      img {
        width: 100vw;
      }
    }
    .cabecera {
      position: relative;
      text-align: center;
    }

  }
  h2 {
    padding: 10vw 0;
  } 
}