@import 'variables';
@import 'mixins';


/*CABECERA*/

.bodyLinks {
  .img_bodyLinks {
    position:absolute;
    top: 0px;
    z-index: -100;
    img {
      width: 100vw;
    }
  }
  h2 {
    padding: 10vw 0;
  }
  .cabecera {
    position: relative;
    text-align: center;
  }
}