@import 'variables';
@import 'mixins';

/*INDEX*/
.bodyInicio {
  @include img_background('../img/wallpaper.jpeg');
  main {
    height: 85vh;
    .seccion1 {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 70vh;
      justify-content:space-between;
      h3 {
        padding-bottom: 3rem;
      }
      }
    }
  }

.espaciado {
  display: block;
  letter-spacing: 20px;
}
.form-control, .form-select {
  @include inputs;
  &:focus {
    @include inputs;
    outline: 3px solid map-get($colores, amarillo);
  }
  &::placeholder {
    color: map-get($colores, blanco);
  }
}
