@import 'variables';
@import 'mixins';

/*STAFF*/
.staff_container{
  overflow: hidden;
  margin: 1.5rem auto;
  width: 300px;
  height: 500px;
  .img_container {
    position: absolute;
    img{
      @include bordes;
      width: 300px;
      aspect-ratio: 0.6;
      object-fit: cover;
    }
  }
  .tarjetaInterna {
    @include bordes;
    padding: 0.7rem;
    margin: 1.5rem;
    width: 250px;
    position: relative;
    transform: translateY(390px) ;
    transition: all 0.3s;
    background-color: map-get($colores, op_negro);
    text-align: center;
    h3 {
      color: map-get($colores, blanco );
    }
  } 
  &:hover .tarjetaInterna {
    transform: translateY(130px) ;
  }
}
